* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1500px;
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.navigation {
    display: flex;
    margin-top: 45px;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 62px;
}

.podiv {
    width: 594px;
    display: flex;
    gap: 68px;
    display: flex;
    align-items: center;

    h1 {
        font-size: 22px;
        color: #FC4308;
        font-family: Roboto;
    }
}

.podiv2 {
    display: flex;
    gap: 25px;
}

.podpodiv {
    width: 406px;
    display: flex;
    gap: 34px;
    align-items: center;

    h5 {
        color: #3E3232;
        font-family: Roboto;
        font-size: 16px;

    }

    input {
        border: none;
        font-family: Roboto;

    }
}


.inp {
    width: 400px;
    height: 48px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    background-color: #F5F5F5;

    input {
        border: none;
        width: 287px;
        background-color: #F5F5F5;
        font-family: Roboto;


    }
}

.tochka {
    width: 20px;
    height: 20px;
}



.profill {
    width: 134px;
    display: flex;
    align-items: center;
    gap: 8px;

    h5 {
        font-family: Roboto;

    }
}

.abdul {
    width: 48px;
    height: 48px;
    border-radius: 50px;
}

.navigation2 {
    background-color: #F5F5F5;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    height: 68px;
    align-items: center;
}

.minise_card {
    width: 170px;
    height: 48px;
    background: url(/assets/img/01.png);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    h5 {
        color: white;
        font-family: Roboto;

    }
}

.minise_card2 {
    width: 170px;
    height: 48px;
    background: url(/assets/img/10.png);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    h5 {
        color: white;
        font-family: Roboto;

    }
}

.minise_card3 {
    width: 170px;
    height: 48px;
    background: url(/assets/img/04.png);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    h5 {
        color: white;
        font-family: Roboto;

    }
}

.minise_card4 {
    width: 170px;
    height: 48px;
    background: url(/assets/img/06.png);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    h5 {
        color: white;
        font-family: Roboto;

    }
}

.minise_card5 {
    width: 170px;
    height: 48px;
    background: url(/assets/img/07.png);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    h5 {
        color: white;
        font-family: Roboto;

    }
}

.minise_card6 {
    width: 170px;
    height: 48px;
    background: url(/assets/img/03.png);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    h5 {
        color: white;
        font-family: Roboto;

    }
}

.minise_card7 {
    width: 170px;
    height: 48px;
    background: url(/assets/img/011.png);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    h5 {
        color: white;
        font-family: Roboto;

    }
}

.navigation3 {
    margin-top: 60px;
    display: flex;
    gap: 24px;
    margin-bottom: 60px;
}


.cart1 {
    background: url(/assets/img/05.png);
    width: 360px;
    height: 452px;
    padding: 325px 10px 10px;
    border-radius: 12px;

}

.cart2 {
    background: url(/assets/img/unsplash_2ZOHXRaZfFQ.png);
    width: 360px;
    height: 452px;
    padding: 325px 10px 10px;
    border-radius: 12px;

}

.cart3 {
    background: url(/assets/img/012.png);
    width: 724px;
    height: 452px;
    padding: 325px 10px 10px;
    border-radius: 12px;

}

.podcart1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: Roboto;
    padding: 16px;
    background: url(/assets/img/Background.png);
    width: 339px;
    height: 117px;

    h1 {
        color: #000000 75%;
        font-size: 14px;
    }
}


.podcart3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: Roboto;
    padding: 16px;
    background: url(/assets/img/Background1.png);
    width: 339px;
    height: 117px;

    h1 {
        color: #000000 75%;
        font-size: 14px;
    }
}


.podcart2 {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    color: #000000;
    /* Темно-серый цвет текста для хорошего контраста */
    font-family: Roboto;
    /* Шрифт, похожий на ваш пример */

    padding: 15px 20px;
    border-radius: 12px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;

    h1 {
        font-size: 14px;
        margin-top: 16px;
        font-family: Roboto;
    }
}

.cards {
    display: flex;
    gap: 24px;
    margin-bottom: 104px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 360px;
    height: 389px;
    box-shadow: #000000;

    h5 {
        font-family: Roboto;
    }

    h1 {
        font-size: 12px;
        width: 328px;
        color: gray;
        font-family: Roboto;
    }

    img {
        width: 340px;
        height: 190px;
        border-radius: 12px;
    }
}

.mini_div {
    display: flex;
    justify-content: space-between;
    width: 340px;
    height: 72px;
    border-radius: 12px;
    background-color: #F5F5F5;
    padding: 16px;
    align-items: center;

    img {
        width: 20px;
        height: 20px;
    }
}

.divs {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 200px;

    img {
        width: 44px;
        height: 44px;
    }

    div {

        display: flex;
        flex-direction: column;
        gap: 4px;

        h1 {
            font-size: 14px;
            font-family: Roboto;
            color: black;
        }

        h2 {
            font-size: 12px;
            font-family: Roboto;
            color: gray;

        }
    }
}

.navi1 {
    display: flex;
    gap: 24px;

}

.nad_navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 30px;

    h1 {
        font-size: 20px;
        font-family: Roboto;
    }

    div {
        display: flex;
        gap: 20px;
        align-items: center;

        h1 {
            width: 40px;
            height: 40px;
            background-color: #F5F5F5;
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
        }
    }
}


.section3 {
    background: url(/assets/img/image-background.png);
    height: 465px;
    padding: 65px 0px;
}

.sect {
    display: flex;
    flex-direction: column;
    gap: 19px;
    justify-content: start;
    background-color: white;
    border-radius: 12px;

    padding: 35px 25px 35px;
    width: 360px;
    height: 334px;

    h5 {
        font-family: Roboto;
        font-size: 16px;
    }

}

.kalendar {
    display: flex;
    flex-direction: column;

    width: 311px;
    height: 227px;
    gap: 15px;

    div {
        width: 311px;
        height: 19px;
        display: flex;
        justify-content:
            space-around;

        h5 {
            font-size: 16px;
            font-family: Roboto;
        }

        img {
            width: 19px;
            height: 19px;

        }
    }
}


.dive {
    color: gray;
}



.sect2 {
    width: 616px;
    height: 334px;
    background-color: white;
    border-radius: 12px;
    padding: 32px 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}



.club {
    width: 580px;
    height: 30px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 0px 11px 0;

    h1 {
        font-size: 16px;
        font-family: Roboto;
    }
}

.div2 {
    width: 335px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 16px;
        color: black;
        font-family: Roboto;
    }
}

.div3 {
    h1 {
        color: gray;
    }
}

.divi {
    width: 165px;
    display: flex;
    gap: 10px;
    align-items: center;

    h3 {
        font-size: 13px;
        font-family: Roboto;
    }
}


.big {
    background-color: #F5F5F5;
}


.sect3 {
    width: 478px;
    height: 334px;
    background-color: white;
    border-radius: 12px;
    padding: 35px 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;

    h5 {
        font-size: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}



.match {
    display: flex;
    gap: 5px;

    img {
        width: 144px;
        height: 144px;
    }

    div {
        width: 144px;
        height: 90px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 62px;

        h3 {
            font-size: 16px;
            font-family: Roboto;
            width: 145px;
        }

        h1 {
            color: red;
            font-family: Roboto;
        }
    }
}

.blue {
    width: 160px;
    height: 38px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F5C9F;

    h1 {
        font-size: 16px;
        color: white;
        font-family: Roboto;
    }
}


.red_blue {
    margin-top: 40px;
    display: flex;
    gap: 2px;
    align-items: center;
}

.korich {
    width: 60px;
    height: 57px;
    background-color: #3E3232;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 25px;
        font-family: Roboto;
        color: white;
    }

}


.koch {
    width: 60px;
    height: 57px;
    background-color: #3E3232;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 25px;
        font-family: Roboto;
        color: white;
    }
}

.red{
    width: 160px;
    height: 38px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AA3034;

    h1 {
        font-size: 16px;
        color: white;
        font-family: Roboto;
    }
}



