{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="container">
            <div class="navigation">

                <div class="podiv">

                    <h1>MEGA.news</h1>

                    <div class="podpodiv">
                        <h5>Categories</h5>
                        <h5>Pages</h5>
                        <h5>contact us</h5>
                        <h5>about us</h5>
                    </div>
                    
                </div>

                <div class="podiv2">

                    <div class="inp">

                        <img class="tochka" src="{% static '/assets/svg/tochki.svg' %}" alt="">
                        <input type="text" placeholder="Search anything">
                        <img src="{% static '/assets/svg/search.svg' %}" alt="">
                        
                    </div>

                    <div class="profill">

                        <img class="abdul" src="{% static '/assets/img/5285523373532319048_121.jpg' %}" alt="">
                        <h5>AbduVali</h5>
                        <img src="{% static '/assets/svg/strelka.svg' %}" alt="">
 

                    </div>

                </div>

            </div>
        </div>
    </header>

    <section class="section1">

        <div class="container">
            <div class="navigation2">

                <div class="minise_card">
                    <h5>#Food</h5>
                </div>
                
                <div class="minise_card2">
                    <h5>#Animal</h5>
                </div>

                <div class="minise_card3">
                    <h5>#Car</h5>
                </div>

                <div class="minise_card4">
                    <h5>#Sport</h5>
                </div>

                <div class="minise_card5">
                    <h5>#Music</h5>
                </div>

                <div class="minise_card6">
                    <h5>#Technology</h5>
                </div>

                <div class="minise_card7">
                    <h5>#Abstract</h5>
                </div>


            </div>
        </div>

        <div class="container">
            <div class="navigation3">

                <div class="cart1">
                    <div class="podcart1">

                        <h3>How to Drive a Car Safely</h3>

                        <h1>Ah, the joy of the open road—it’s a good feeling. But if you’re new to driving</h1>

                    </div>
                </div>

                <div class="cart2">
                    <div class="podcart3">

                        <h3>How to Make Dance Music</h3>

                        <h1>Download torrents from verified or trusted uploaders. If you're a BitTorrent user looking</h1>

                    </div>
                </div>

                <div class="cart3">
                    <div class="podcart2">

                        <h3>How to Make Dance Music</h3>

                        <h1>A Single Monitor Manifesto — Many developers believe multiple monitors improve productivity. Studies have proven it, right? Well, keep in mind, many of those studies are commissioned from monitor manufacturers like</h1>

                    </div>
                </div>

            </div>
        </div>
        
    </section>

    <section class="section2">
        <div class="container">

            <div class="nad_navigation">
                <h1>popular posts</h1>

                <div>
                    <h1><</h1>
                    <h1>></h1>
                </div>
            </div>

            <div class=" cards">
                
                <div class="card">

                    <img src="{% static '/assets/img/unsplash_NrN5Rvl89Lo.png' %}" alt="">
                    <h5>Opening Day of Boating Season, Seattle WA</h5>
                    <h1>Of course the Puget Sound is very watery, and where there is water, there are boats. Today is </h1>
                    
                    <div class="mini_div">
                        <div class="divs">
                            <img src="{% static '/assets/svg/profil2.svg' %}" alt="">
                            <div class="text1">
                                <h1>James</h1>
                                <h2>August 18 , 2022</h2>
                            </div>
                        </div>

                        <img src="{% static '/assets/svg/profil2.svg' %}" alt="">
                    </div>

                </div>

                <div class="card">

                    <img src="/assets/img/unsplash_mP7aPSUm7aE.png" alt="">
                    <h5>How to choose the right laptop for </h5>
                    <h1>Choosing the right laptop for programming can be a tough process. It’s easy to get confused </h1>
                    
                    <div class="mini_div">
                        <div class="divs">
                            <img src="/assets/svg/profil3.svg" alt="">
                            <div class="text1">
                                <h1>Louis Hoebregts</h1>
                                <h2>July 25 , 2022</h2>
                            </div>
                        </div>

                        <img src="/assets/svg/save.svg" alt="">
                    </div>

                </div>

                <div class="card">

                    <img src="/assets/img/022.png" alt="">
                    <h5>How we built the first real self-driving car</h5>
                    <h1>Electric self-driving cars will save millions of lives and significantly accelerate the world’s </h1>
                    
                    <div class="mini_div">
                        <div class="divs">
                            <img src="/assets/svg/profil4.svg" alt="">
                            <div class="text1">
                                <h1>Mary</h1>
                                <h2>July 14, 2022</h2>
                            </div>
                        </div>

                        <img src="/assets/svg/save.svg" alt="">
                    </div>

                </div>

                <div class="card">

                    <img src="/assets/img/077.png" alt="">
                    <h5>How to Persuade Your Parents to Buy Fast Food</h5>
                    <h1>Parents often don’t want to buy fast food. They may be worried that it’s too expensive, unhealthy,</h1>
                    
                    <div class="mini_div">
                        <div class="divs">
                            <img src="/assets/svg/profil5.svg" alt="">
                            <div class="text1">
                                <h1>Jon Kantner</h1>
                                <h2>May 10 , 2022</h2>
                            </div>
                        </div>

                        <img src="/assets/svg/save.svg" alt="">
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section class="section3">
        <div class="container">
            <div class="navi1">

                <div class="sect">

                    <h5>Jan 2022</h5>

                    <div class="kalendar">

                        <div class="dive">
                            <h5>Su</h5>
                            <h5>Mo</h5>
                            <h5>Tu</h5>
                            <h5>We</h5>
                            <h5>Th</h5>
                            <h5>Fr</h5>
                            <h5>Sa</h5>
                        </div>

                        <div>
                            <h5>26</h5>
                            <h5>27</h5>
                            <img src="{% static '/assets/svg/soccer.svg' %}" alt="">
                            <h5>29</h5>
                            <h5>30</h5>
                            <h5>31</h5>
                            <h5>1</h5>
                        </div>

                        <div>
                            <img src="/assets/svg/soccer2.svg" alt="">
                            <h5>3</h5>
                            <h5>4</h5>
                            <h5>5</h5>
                            <h5>6</h5>
                            <h5>7</h5>
                            <h5>8</h5>
                        </div>

                        <div>
                            <h5>9</h5>
                            <h5>10</h5>
                            <h5>11</h5>
                            <h5>12</h5>
                            <h5>13</h5>
                            <img src="/assets/svg/soccer4.svg" alt="">
                            <h5>15</h5>
                        </div>

                        <div>
                            <h5>16</h5>
                            <h5>17</h5>
                            <img src="/assets/svg/soccer3.svg" alt="">
                            <h5>19</h5>
                            <h5>20</h5>
                            <h5>21</h5>
                            <h5>22</h5>
                        </div>


                        <div>
                            <h5>23</h5>
                            <h5>24</h5>
                            <h5>25</h5>
                            <h5>26</h5>
                            <h5>27</h5>
                            <h5>28</h5>
                            <h5>29</h5>
                        </div>

                        <div>
                            <h5>30</h5>
                            <img src="/assets/svg/soccer6.svg" alt="">
                            <h5>1</h5>
                            <h5>2</h5>
                            <h5>3</h5>
                            <img src="/assets/svg/soccer5.svg   " alt="">
                            <h5>5</h5>
                            
                        </div>


                    </div>



                </div>

                <div class="sect2">

                    <div class="club">
                        <h1>Club</h1>
                        <div class="div2 div3">
                            <h1>GP</h1>
                            <h1>W</h1>
                            <h1>D</h1>
                            <h1>L</h1>
                            <h1>F</h1>
                            <h1>A</h1>
                            <h1>GD</h1>
                            <h1>Pts</h1>
                        </div>
                    </div>


                    <div class="club">
                        <div class="divi">
                            <h1>1</h1>
                            <img src="/assets/svg/city.svg" alt="">
                            <h3>Manchester City</h3>
                        </div>
                        <div class="div2">
                            <h1>38</h1>
                            <h1>29</h1>
                            <h1>6</h1>
                            <h1>3</h1>
                            <h1>99</h1>
                            <h1>26</h1>
                            <h1>73</h1>
                            <h1>93</h1>
                        </div>
                    </div>

                    <div class="club big">
                        <div class="divi">
                            <h1>2</h1>
                            <img src="/assets/svg/liverpool.svg" alt="">
                            <h3>Liverpool</h3>
                        </div>
                        <div class="div2">
                            <h1>38</h1>
                            <h1>28</h1>
                            <h1>8</h1>
                            <h1>2</h1>
                            <h1>94</h1>
                            <h1>26</h1>
                            <h1>68</h1>
                            <h1>92</h1>
                        </div>
                    </div>

                    <div class="club">
                        <div class="divi">
                            <h1>3</h1>
                            <img src="/assets/svg/chelsea.svg" alt="">
                            <h3>Chelsea</h3>
                        </div>
                        <div class="div2">
                            <h1>38</h1>
                            <h1>21</h1>
                            <h1>1</h1>
                            <h1>6</h1>
                            <h1>76</h1>
                            <h1>33</h1>
                            <h1>43</h1>
                            <h1>74</h1>
                        </div>
                    </div>

                    <div class="club big">
                        <div class="divi">
                            <h1>4</h1>
                            <img src="/assets/svg/soccer4.svg" alt="">
                            <h3>Tottenham</h3>
                        </div>
                        <div class="div2">
                            <h1>38</h1>
                            <h1>28</h1>
                            <h1>8</h1>
                            <h1>3</h1>
                            <h1>84</h1>
                            <h1>38</h1>
                            <h1>38</h1>
                            <h1>38</h1>
                        </div>
                    </div>

                    <div class="club">
                        <div class="divi">
                            <h1>5</h1>
                            <img src="/assets/svg/soccer3.svg" alt="">
                            <h3>Arsenal</h3>
                        </div>
                        <div class="div2">
                            <h1>38</h1>
                            <h1>29</h1>
                            <h1>9</h1>
                            <h1>6</h1>
                            <h1>92</h1>
                            <h1>23</h1>
                            <h1>63</h1>
                            <h1>33</h1>
                        </div>
                    </div>

                    <div class="club big">
                        <div class="divi">
                            <h1>6</h1>
                            <img src="/assets/svg/soccer.svg" alt="">
                            <h3>Manchester United</h3>
                        </div>
                        <div class="div2">
                            <h1>38</h1>
                            <h1>29</h1>
                            <h1>6</h1>
                            <h1>3</h1>
                            <h1>99</h1>
                            <h1>26</h1>
                            <h1>73</h1>
                            <h1>93</h1>
                        </div>
                    </div>


                    

                </div>

                <div class="sect3">
                    <h5>The final rond</h5>
                    <div class="match">
                        <img src="/assets/svg/citybig.svg" alt="">
                        <div>
                            <h1>VS</h1>
                            <h3>Sunday , August 8th</h3>
                        </div>
                        <img src="/assets/svg/liverpoolbig.svg" alt="">
                    </div>
                    <div class="red_blue">
                        <div class="blue">
                            <h1>Manchester City</h1>
                        </div>
                        <div class="korich">
                            <h1>00</h1>
                        </div>
                        <div class="koch">
                            <h1>00</h1>
                        </div>
                        <div class="red">
                            <h1>Liverpool</h1>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</body>

</html>






